@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Kalam", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
