.LotteryBall {
  background-color: tomato;
  border-radius: 50%;
  color: whitesmoke;
  /* display: inline-block; */
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  line-height: 4rem;
  margin: 0.25rem;
  font-size: 1.5rem;
}
